body {
    background-color: hsl(13, 31%, 94%);
    font-family: "Red Hat Text", sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    align-items: start;
    gap: 40px;
}

.list {
    &__container {
        width: 67%;
    }

    &__header {
        font-size: 30px;
        font-weight: 700;
        color: hsl(14, 65%, 9%);
        margin: 0;
        margin-bottom: 20px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 7px;
    }
}

.card {
    position: relative;

    &__image {
        width: 100%;
    }

    &__button {
        &-container {
            position: relative;
            left: 17%;
            top: -24px;
            width: max-content;
        }

        background-color: hsl(20, 50%, 98%);
        font-family: "Red Hat Text", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid hsl(12, 20%, 44%);
        color: hsl(14, 65%, 9%);
        padding: 10px 30px;
        border-radius: 20px;
        transition: color 0.3s, background-color 0.3s;

        &::before{
            content: url(assets/images/icon-add-to-cart.svg);
            position: relative;
            top: 4px;
            left: -4px;
        }

        &:hover {
            cursor: pointer;
            color: hsl(20, 50%, 98%);
            background-color: hsl(7, 20%, 60%);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__category {
        font-size: 16px;
        font-weight: 400;
        color: hsl(7, 20%, 60%);
    }

    &__name {
        font-size: 16px;
        font-weight: 600;
        color: hsl(14, 65%, 9%);
    }

    &__price {
        font-size: 16px;
        font-weight: 600;
        color: hsl(14, 86%, 42%);
    }
}